* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#8693ab, #bdd4e7);
}

.container {
    background-color: #fff;
    padding: 30px;
    box-shadow: 10px 5px 5px black;
    opacity: 0.8;
}

.button {
    color:#fff;
    background:#23345a;
    border:none;
    padding:10px 25px;
    margin-top: 15px;
    border-radius: 15px;
    text-decoration: none;
}

.button:hover {
    color: #fff;
}