@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
}

.green-button {
    color: #fff;
    padding: 12px 15px;
    text-decoration: none;
    line-height: 14px;
    font-size: 16px;
    border-radius: 6px;
    margin-right: 10px;
    background-color: #47cf73;
}

.green-button:hover {
    background-color: #2fb65a;
    color: #fff;
}

.blue-button {
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    line-height: 14px;
    font-size: 16px;
    border-radius: 6px;
    margin-right: 10px;
    background-color: #24a0ed;
}

.blue-button:hover {
    background-color: #1183ca;
    color: #fff;
}

.container {
    margin-top: 50px;
}

#title {
    color: white;
    padding-right: 700px;
    padding-top: 16px;
}

#image-bg {
    width: 1440px;
}

#image-bg-home {
    margin-top: -210px;
    width: 1440px;
}

#title-description {
    position: absolute;
    bottom: 80px;
    left: 900px;
    color: white;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

#title-description-home {
    position: absolute;
    bottom: 300px;
    left: 550px;
    color: white;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

#bar {
     position: relative;
     margin: -4px 0;
     padding: .75rem 0;
     width: 100%;
     background: rgb(51, 51, 51);
}

.content-block {
    text-align: center;
}

#description {
    font-size: 30px;
    margin-top: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px 15px 30px 15px;
}

.card-title {
    margin: 8px 0;
    font-size: 18px;
}

.info-container {
    margin-top: -4px !important;
    padding: 2px 16px 15px 16px;
    background-color: rgb(246, 246, 247);
}

.card {
    flex: 0 1 24%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.arrow {
  position: relative;
  color: #355174;
  font-family: Arial sans-serif;
  font-size: 1.5em;
  text-decoration: none;
  padding: 0.5em 1.5em;
  margin: 0 25px 0 120px;
}

.arrow:before, .arrow:after {
  content:"";
  background: #033469;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  display: block;
  height: 0.5em;
  position: absolute;
  right: 0;
  width: 1em;
}

.arrow.right:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow.right:before {
  top: .9em;
}

.arrow.right:after {
    bottom: 0.66em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.arrow:hover, #arrow:focus {
  color: #033469;
}

.arrow:hover:before, .arrow:hover:after,  .arrow:focus:before, .arrow:focus:after {
  background: #355174;
}
