<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HI</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
<!--    <header>-->
<!--        <div class="main">-->
<!--            <nav th:fragment="navbar">-->
<!--                <ul>-->
<!--                    <h2 id="title">Beyond's Airline System</h2>-->
<!--                    <li><a id="green-button" href="">Sign Up</a></li>-->
<!--                    <li><a id="blue-button" href="">Login</a></li>-->
<!--                </ul>-->
<!--            </nav>-->
<!--       </div>-->
<!--    </header>-->
</body>
</html>