<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Booking</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/booking.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand ms-3">Beyond's Airline System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" th:href="@{/home}">Home</a>
                <a class="nav-link active" th:href="@{/home/booking_flight/create}">Booking</a>
                <a class="nav-link" th:href="@{/home/booked_flights}">Booked Flights</a>
                <a class="nav-link" th:href="@{/home/check-in}">Check In</a>
            </div>
        </div>
        <a class="nav-link ms-5" th:href="@{/logout}">Logout</a>
    </div>
</nav>
<div id="booking" class="section">
    <form class="form" th:action="@{/home/booking_flight/success}" th:object="${booking}" method="post">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-push-5">
                        <div class="booking-cta">
                            <h1>Ready To Fly With Us!</h1>
                            <p>Book a flight now and you won't regret it
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-pull-7">
                        <div class="check-in">
                            <form>
                                <div class="form-group">
                                    <div class="col-75">
                                        <span class="form-label">First Name*</span>
                                        <input type="text" placeholder="First Name" class="form-control" th:field="*{passFirstName}" required/>
                                        <!-- <input class="form-control" type="text" placeholder="First Name"> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-75">
                                        <span class="form-label">Last Name*</span>
                                        <input class="form-control" type="text" placeholder="Last Name" th:field="*{passLastName}" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-75">
                                        <span class="form-label">From*</span>
                                        <select class="form-control" placeholder="Travel From" th:field="*{travelFrom}">
                                            <option value="Memphis MEM">Memphis MEM</option>
                                            <option value="Birmingham BHM">Birmingham BHM</option>
                                            <option value="Atlanta ATL">Atlanta ATL</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                    <!-- <input class="form-control" type="text" placeholder="Enter a destination or hotel name"> -->
                                </div>
                                <div class="form-group">
                                    <div class="col-75">
                                        <span class="form-label">To*</span>
                                        <select class="form-control" placeholder="Travel To" th:field="*{travelTo}">
                                            <option value="Belize City BZE">Belize City BZE</option>
                                            <option value="New York JFK">New York JFK</option>
                                            <option value="Chicago O'Hare ORD">Chicago O'Hare ORD</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <span class="form-label">Departing*</span>
                                            <input class="form-control" type="datetime-local" placeholder="mm/dd/yyyy" th:field="*{dateOfDeparture}" required/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <span class="form-label">Returning*</span>
                                            <input class="form-control" type="datetime-local" th:field="*{dateOfReturning}" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-btn">
                                    <button class="submit-btn">Book Flight</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>