<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Booking Success</title>
    <link rel="stylesheet" type="text/css" href="/thank_you.css" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script%7CSource+Sans+Pro" rel="stylesheet">
</head>
<body>
<div class=content>
    <div class="wrapper-1">
        <div class="wrapper-2">
            <h1>Thank you!</h1>
            <p>Fasten your seatbelt and thank you for choosing Beyond's Airlines</p>
            <a class="go-home" th:href="@{/home}">Go Home</a>
        </div>
    </div>
</div>
</body>
</html>