<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Booking</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/check_in.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand ms-3">Beyond's Airline System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" th:href="@{/home}">Home</a>
                <a class="nav-link" th:href="@{/home/booking_flight/create}">Booking</a>
                <a class="nav-link" th:href="@{/home/booked_flights}">Booked Flights</a>
                <a class="nav-link active" th:href="@{/home/check-in}">Check In</a>
            </div>
        </div>
        <a class="nav-link ms-5" th:href="@{/logout}">Logout</a>
    </div>
</nav>
<div class="check-in section">
    <form class="section-center">
        <h1 id="header">Confirmation Number</h1>
        <div class="form-group">
            <input type="text" placeholder="Coming Soon" class="border-customized-input" disabled/>
        </div>
    </form>
</div>
</body>
</html>