<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edit Product</title>
</head>
<body>
<div align="center">
    <h1>Edit Product</h1>
    <br />
    <form action="#" th:action="@{/home/booking_flight/success}" th:object="${booking}" method="post">

        <table border="0" cellpadding="10">
<!--            <tr>-->
<!--                <td>Product ID:</td>-->
<!--                <td>-->
<!--                    <input type="text" th:field="*{id}" readonly="readonly" />-->
<!--                </td>-->
<!--            </tr>-->
            <tr>
                <td>First Name:</td>
                <td>
                    <input type="text" th:field="*{passFirstName}" />
                </td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" th:field="*{passLastName}" /></td>
            </tr>
            <tr>
                <td>Depart:</td>
                <td>
                    <div class="col-75">
                        <select class="form__input" placeholder="Travel From" th:field="*{travelFrom}">
                            <option value="Birmingham BHM">Birmingham BHM</option>
                            <option value="Memphis MEM">Memphis MEM</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Arrival:</td>
                <td>
                    <div class="col-75">
                        <select class="form__input" placeholder="Travel To" th:field="*{travelTo}">
                            <option value="Belize City BZE">Belize City BZE</option>
                            <option value="New York JFKM">New York JFK</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Time of Departure:</td>
                <td><input class="form__input" type="datetime-local" placeholder="mm/dd/yyyy"  th:field="*{dateOfDeparture}"
                           required/></td>
            </tr>
            <tr>
                <td>Time of Returning:</td>
                <td><input class="form__input" type="datetime-local" placeholder="mm/dd/yyyy" th:field="*{dateOfReturning}"
                           required/></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>