<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Flight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/booking.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div id="booking-edit" class="section">
    <form th:action="@{/edit/{id}/edit_success(id=${booking.id})}" th:object="${booking}" method="post">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-push-5">
                        <div class="booking-cta">
                            <h1>Made A Mistake,<br> We Can Fix It!</h1>
                            <p class="booking-quote">Enjoy flying on Beyond's Airline
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-pull-7">
                        <div class="check-in">
                            <form>
                                <div class="form-group">
                                    <div class="col-75">
                                        <span class="form-label">First Name*</span>
                                        <input type="text" placeholder="First Name" class="form-control" th:field="*{passFirstName}" required/>
                                        <!-- <input class="form-control" type="text" placeholder="First Name"> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-75">
                                        <span class="form-label">Last Name*</span>
                                        <input class="form-control" type="text" placeholder="Last Name" th:field="*{passLastName}" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-75">
                                        <span class="form-label">From*</span>
                                        <select class="form-control" placeholder="Travel From" th:field="*{travelFrom}">
                                            <option value="Birmingham BHM">Birmingham BHM</option>
                                            <option value="Memphis MEM">Memphis MEM</option>
                                            <option value="Atlanta ATL">Atlanta ATL</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                    <!-- <input class="form-control" type="text" placeholder="Enter a destination or hotel name"> -->
                                </div>
                                <div class="form-group">
                                    <div class="col-75">
                                        <span class="form-label">To*</span>
                                        <select class="form-control" placeholder="Travel To" th:field="*{travelTo}">
                                            <option value="Belize City BZE">Belize City BZE</option>
                                            <option value="New York JFK">New York JFK</option>
                                            <option value="Chicago O'Hare ORD">Chicago O'Hare ORD</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <span class="form-label">Departing*</span>
                                            <input class="form-control" type="datetime-local" placeholder="mm/dd/yyyy" th:field="*{dateOfDeparture}" required/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <span class="form-label">Returning*</span>
                                            <input class="form-control" type="datetime-local" th:field="*{dateOfReturning}" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-btn">
                                    <button class="submit-btn">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>